.header__nav {
    display: none;
}

.header {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    background: url("../img/header/cover.png") no-repeat;
    background-size: cover;
}

.header__humburger {
    background: var(--background-color-humburger);
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.header__wrapper {
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 30px 15px 30px 15px;
    z-index: 2;
    background-color: #858282;
    box-shadow: 0 10px 13px -7px #858282, 10px 5px 18px 5px #858282;
}

.header_1 {
    box-shadow: none;
    background-color: var(--background-color-humburger);;
}

.wrapper__item {
    text-align: center;
}

.wrapper__item:first-child {
    width: 80%;
}

.wrapper__item:last-child {
    width: 20%;
}

.wrapper__item img {
    width: 95%;
    height: 100%;
}

.nav__wrapper {
    position: fixed;
    overflow: hidden;
    opacity: 0;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    font-size:4rem;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: opacity 0.1s ease-in 0ms;
}

.nav__wrapper-el:first-child {
    padding: 100px 0 50px 0;
}

.wrapper__el-link {
    display: inline-block;
    background: var(--background-color-lime);
}

.wrapper__el-link:hover{
    background: var(--background-color-dark-lime);
}

.wrapper__el-link {
    padding: 20px;
    text-align: center;
}

.wrapper__el-link:not(:last-child) {
    margin-right: 5px;
}

.link__img {
    display: flex;
    max-width: 60px;
    max-height: 60px;
    color: #f9f6ed;
}

.nav__wrapper-list {
    width: 100%;
}

.wrapper-list-el {
    padding: 10px 0 10px 0;
}

.wrapper-list-el a {
    color: var(--title-color-light);
}

.banner {
    display: none;
    width: 100%;
    padding: 250px 0 0 0;
}

.active {
    display: inline-block;
    width: 100%;
    margin: auto;
   opacity: 1;
}

.banner__header {
    display: block;
    width: 85%;
    margin: auto;
}

.banner__title {
    width: 100%;
    font-family: "Amiri", serif;
    font-weight: 400;
    font-size: 7rem;
    color: var(--title-color-white);
    line-height: 7.4rem;

}

.banner__desc {
    width: 100%;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    font-size: 3.25rem;
    padding: 50px 0 70px 0;
    color: var(--content-color-light);
    line-height: 4.5rem;
}

.banner__btn {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    font-size: 1.03rem;
    text-align: center;
}

.banner__btn-link {
    display: inline-flex;
    width: 40%;
    min-height: 122px;
    justify-content: center;
    text-decoration: none;
    font-size: 2.8rem;
    align-items: center;
    color: var(--title-color-white);
    border: 2px solid var(--background-color-lime);
    background-color: var(--background-color-lime);
    padding: 15px 20px;
    margin-bottom: 70px;

}

.banner__btn-link:first-child {

}

.banner__btn-link:first-child:hover {
    background-color: var(--btn-color-white);
    border-color: var(--border-color-white);
    color: var(--content-color-dark);
    transition: all 500ms ease-in-out;
}

.banner__btn-link:last-child {
    width: 35%;
    height: 100%;
    background-color: unset;
    color: var(--btn-color-lime);
    margin-bottom: 100px;

}

.banner__btn-link:last-child:hover {
    border: 2px solid var(--background-color-lime);
    background-color: var(--background-color-lime);
    color: var(--btn-color-white);
    transition: all 500ms ease-in-out;
}

.nav__list {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:  500px 500px 500px 500px;
    list-style-type: none;
    grid-row-gap: 2rem;
    width: 85%;
    margin: auto;
}

.nav__list-el {
    font-family: "Source Sans Pro", sans-serif;
    font-size: .88rem;
    background-color: var(--background-color-white);
    padding: 30px;
}

.nav__list-el:first-child .el__icon {
    background: url("../img/general/golf-icon.svg") no-repeat;
    background-size: contain;
}

.nav__list-el:nth-child(2) .el__icon {
    background: url("../img/general/golf-player-icon.svg") no-repeat;
    background-size: contain;
}

.nav__list-el:nth-child(3) .el__icon {
    background: url("../img/general/golf-sticks-icon.svg") no-repeat;
    background-size: contain;
}

.nav__list-el:nth-child(4) .el__icon {
    background: url("../img/general/cup-icon.svg") no-repeat;
    background-size: contain;
}

.el__icon {
    position: absolute;
    min-height: 120px;
    min-width: 150px;
}

.el__title {
    font-family: "Amiri", serif;
    font-weight: 400;
    font-size: 3.5rem;
    padding: 140px 0 0 0;
    color: var(--subtitle-color-dark);
}

.el__line {
    display: block;
    height: 6px;
    width: 15%;
    background-color: var(--border-color-lime);
}

.el__desc {
    font-family:'Source Sans Pro', sans-serif;
    font-size: 1.5rem;
    padding-top: 15px;
    color: var(--content-color-grey);
}